.u-section-1 {
  background-image: url("images/images.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 808px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 33px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 641px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0 2px;
}

.u-section-1 .u-text-1 {
  font-size: 5rem;
  background-image: none;
  font-family: Oswald, sans-serif;
  text-shadow: -2px 2px 8px rgba(128,128,128,1);
  font-weight: 700;
  margin: 0 43px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-line-1 {
  width: 586px;
  height: 3px;
  transform-origin: right center 0px;
  margin: 0 auto 0 82px;
}

.u-section-1 .u-text-2 {
  font-size: 3.125rem;
  background-image: none;
  font-family: Oswald, sans-serif;
  text-shadow: -2px 2px 8px rgba(128,128,128,1);
  font-weight: 700;
  margin: 37px 76px 0 30px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1.875rem;
  margin: 30px 0 0 30px;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-icon-1 {
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-icon-2 {
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-icon-3 {
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-btn-7 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-icon-4 {
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-btn-8 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-9 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-icon-5 {
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-btn-10 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-11 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-icon-6 {
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-line-2 {
  height: 3px;
  transform-origin: left center 0px;
  margin-top: -206px;
  margin-bottom: 0;
}

.u-section-1 .u-line-3 {
  height: 3px;
  transform-origin: left center 0px;
  margin-top: 113px;
  margin-bottom: 87px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 615px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  height: 239px;
  background-image: url("images/Logo-180x180.png");
  background-position: 50% 50%;
  width: 239px;
  margin: 25px auto 0;
}

.u-section-1 .u-line-4 {
  height: 3px;
  transform-origin: left center 0px;
  width: 893px;
  margin: 18px auto 0 0;
}

.u-section-1 .u-text-4 {
  font-size: 3.125rem;
  background-image: none;
  font-family: Oswald, sans-serif;
  text-shadow: -2px 2px 8px rgba(128,128,128,1);
  font-weight: 700;
  margin: 25px auto 33px;
}

.u-section-1 .u-btn-12 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-icon-7 {
  color: rgb(17, 17, 17) !important;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 869px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 762px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.6875rem;
    width: auto;
    margin-top: 7px;
    margin-left: 53px;
    margin-right: 53px;
  }

  .u-section-1 .u-line-1 {
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 30px;
    margin-right: -43px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 28px;
    margin-left: 0;
  }

  .u-section-1 .u-line-2 {
    margin-top: -204px;
  }

  .u-section-1 .u-line-3 {
    margin-bottom: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 762px;
  }

  .u-section-1 .u-image-1 {
    width: 170px;
    height: 170px;
    margin-top: 7px;
  }

  .u-section-1 .u-line-4 {
    width: 736px;
    margin-top: -70px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 40px;
    margin-bottom: 47px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 886px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 702px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    width: 410px;
    margin-top: 17px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-line-1 {
    transform-origin: left center 0px;
    width: 350px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-1 .u-line-2 {
    transform-origin: right center 0px;
    width: 717px;
    margin-right: -153px;
    margin-left: auto;
  }

  .u-section-1 .u-line-3 {
    transform-origin: right center 0px;
    width: 723px;
    margin-right: auto;
    margin-left: -2px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 702px;
  }

  .u-section-1 .u-image-1 {
    width: 151px;
    height: 151px;
  }

  .u-section-1 .u-line-4 {
    transform-origin: right center 0px;
    margin-top: 7px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-4 {
    margin-top: 49px;
    margin-bottom: 37px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1163px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 754px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    width: auto;
    margin-top: 18px;
    margin-right: 1px;
    margin-left: 30px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 52px;
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-1 .u-line-2 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-1 .u-line-3 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 319px;
  }

  .u-section-1 .u-image-1 {
    width: 284px;
    height: 284px;
    margin-top: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1114px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 643px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.5rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-line-1 {
    width: 257px;
    margin-top: 5px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.625rem;
    margin-top: 25px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.5625rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-line-2 {
    width: 340px;
    margin-top: -226px;
  }

  .u-section-1 .u-line-3 {
    width: 340px;
    margin-top: 117px;
    margin-bottom: 103px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 316px;
  }

  .u-section-1 .u-image-1 {
    width: 294px;
    height: 294px;
    margin-top: 7px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.5rem;
  }
}